.container {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
}
.name {
  font-family: JetBrains Mono ;
  color: #B08BBB;
  margin-top: 5%;
}
.b-1 {
  background-color: #f5f5dc;
  margin: 0;
  text-align: center;
}
.defining {
  font-family: Gabriola ,sans-serif;
  color: #eca869;
  font-size: x-large;
  margin-bottom: 0;
}

.top-cloud {
  position: absolute;
  top: 5%;
  right: 30%;
  width: 10%;
}

.bottom-cloud {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 10%;
}
.mountain {
  position: relative;
  width: 50%;
  height: 50%;
  top: 40%;
}
